@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body{	
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: Roboto;
	color: white;
	font-size: 20px;
	background-color: #2F343B;
}

a{
	color: white;
	text-decoration: none;
}

a:hover{
	color: red;
}

.wrapper{
	padding: 0 20px;
}

.main-func{
	padding: 0 20px;
}

.main-func input{
	margin-top: 2px;
	width: 300px;
}

button{
	width: 150px;
	height: 40px;
	margin-top: 10px;
	font-size: 15px;
	background-color: white;
	border: 1px solid #222;
	border-radius: 4px;
}

button:focus{
	outline:0;
}

button:hover{
	cursor: pointer;
	background-color: #777;
}

.table{
	height: 80vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.table-wrapper{

}

.table-title{
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
	text-transform: uppercase;
	font-size: 20px;
	color: white;
}

.login-form{
	display: flex;
	flex-direction: column;
}

input{
	width: 200px;
	font-size: 16px;
	color: white;
	padding: 5px;
	height: 30px;
	background-color: #222;
	border: 0.9px solid white;
	border-radius: 2px;
	margin-top: 8px;
}

.button-form-login{
	display: none;
}

.header{
	border-bottom: 1px solid white;
	padding: 20px;
	display: flex;
	justify-content: space-between;
}

.exit{
	
}

label{
	color: #a6a6a6;
	margin-top: 10px;
	font-size: 14px;
}

.addTrack-form{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.add_track input{
	margin-top: 2px;
	width: 300px;
}

input[type=submit]{
	width: 150px;
	height: 40px;
	margin-top: 10px;
	font-size: 15px;
	background-color: white;
	border: 1px solid #222;
	border-radius: 4px;
	color: black;
}

input[type=submit]:hover{
	cursor: pointer;
	background-color: #777;
}