/*@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');*/

@font-face {
	font-family: "Roboto"; 
	src: url("../fonts/Roboto-Regular.ttf") format("truetype"); 
} 

@font-face {
	font-family: "RobotoBold"; 
	src: url("../fonts/Roboto-Bold.ttf") format("truetype"); 
} 

@font-face {
	font-family: "RobotoLightItalic"; 
	src: url("../fonts/Roboto-LightItalic.ttf") format("truetype"); 
} 

body{	
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: Roboto;
	font-size: 20px;
	background-color: #D9D9D9;
}

::-webkit-scrollbar{
    width: 0;
}

b{
	font-family: RobotoBold;
}

i{
	font-family: RobotoLightItalic;
}

a{
	color: #4484CF;
	text-decoration: none;
}

a:hover{
	color: #F2A049;
}

a:visited{
	color: none;
}

li{
	list-style: none;
}

.open{
	background: url(../img/open.png);
}
.close{
	background: url(../img/close.png);
}

.play{
	background: url(../img/play.png) no-repeat;	
}
.pause{
	background: url(../img/pause.png) no-repeat;
}

.play-in-block{
	background: url(../img/play-in-block.png);
}
.pause-in-block{
	background: url(../img/pause-in-block.png);
}

.next{
	background: url(../img/skip-next.png) no-repeat;
}
.previous{
	background: url(../img/skip-previous.png) no-repeat;
}

.info-block{
	display: flex;
	align-items: center;
}

.material-icons{
	font-size: 14px !important;
	line-height: 0 !important;
}

.container-audioplayer{
	display: flex;
	align-items: center;
	position: fixed;
	width: 100%;
	height: 55px;
	bottom: 0;
	background-color: #2F343B;
}

.audioplayer{
	display: flex;
	align-items: center;
	width: 60%;
	padding: 0 40px;
}

.audioplayer button{
	border: none;
	background-size: 100%;
	width: 40px;
	height: 40px;
}

.audioplayer_album_img{
	width: 50px;
	height: 50px;
	margin-right: 20px;
	background: url(../img/img_albume3.jpg);
	background-size: 100%;
	border: 0.4px solid white;
	border-radius: 5px;
}

#closeButton{
	border: none;
	background-size: 100%;
}

.control-button{
	display: flex;
}

.visible-audioplayer{
	position: fixed;
	width: 30px;
	height: 30px;
	right: 10px;
	bottom: 10px;
}

button:focus {
	outline:none !important;
}

.main-time-line{
	margin-left: 20px;
}

.audio-line-info{
	display: flex;
}

.audio-line-info span{
	color: white;
	font-size: 14px;
}

.timeline{
	display: flex;
	align-items: center;
	margin: 0 8px;
	width: 420px;
	height: 11px;
	margin-top: 2px;
	border: 0.4px solid white;
	background-color: #2e2e2e;
	border-radius: 1px;
}

.playhead{
	width: 0;
	height: 10px;
	background-color: #4484CF;
}

.info-music{
	margin-bottom: 7px;
}

.info-music a{
	color: #bababa;
	font-size: 14px;
}

.info-music a:hover{
	color: #4484CF;
}

.info-music span{
	color: #bababa;
	font-size: 14px;
}

.left-content{
	display: flex;
	justify-content: space-between;
}

.left-content #audioplayer_title{
	align-items: flex-end;
}

.left-content span{
	margin: 0 6px;
}


/*	HEADER 	*/


.head{
	padding: 10px 60px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #D9D9D9;
}

.head-logo{
	max-width: 200px;
	display: inline-block;
	border: 2px solid #4484CF;
	padding: 10px;
	transition: 0.2s;
}

.head-logo:hover{
	transition: 0.2s;
	background-color: #4484CF;
}

.head-logo:hover{
	color: #D9D9D9;
}

.menu{
	margin-left: 40px;
	display: inline-block;
}

.menu ul li:first-child{
	margin-left: 0;
}

.menu ul li{
	margin-left: 20px;
	display: inline-block;
}

.main{
	width: 100%;
}

.found-block{
	height: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	padding: 80px 60px;
	color: #D9D9D9;
	background-color: #222;
}

.found-block h1{
  	text-shadow: 0 -40px 3px #4484CF, 0 40px 6px #4484CF;
}

.found-bottom ul li{
	display: inline-block;
	color: white;
	margin-left: 40px;
}

.found-bottom .active{
	border-bottom: 4px solid #4484CF;
}

.found-bottom a{
	color: white;
}

.found-bottom ul li:first-child{
	margin-left: 0;
}

.found-bottom{
	position: absolute;
	top: 296px;
	left: 21px;
}

.music{
	background-color: #2e2e2e;
}

.music-container{
	padding: 60px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.music-block{
	margin-left: 20px;
	margin-bottom: 50px;	
	max-width: 200px;
	font-size: 16px;
	color: #D9D9D9;
}

.music-block:first-child, .music-block:nth-child(n + 6){
	margin-left: 0;
}

.music-block span{
	font-weight: 100;
}

.music-block-img{
	position: relative;
	background-color: #222;

}

.music-block-img:hover{
	cursor: pointer;
}

.shadow-for-img{
	position: absolute;
	top: 0;
	left: 0;
	width: 99%;
	height: 97%;
	border: 1px solid #D9D9D9;
	border-radius: 5px;
	box-shadow: -1px 1px 5px 1px #4484CF;
	pointer-events: none;
}

.shadow-for-img:hover{
	box-shadow: -1px 1px 5px 1px #E3CDA4;
}

.music-block img{
	border-radius: 5px;
	min-width: 100px;
	min-height: 100px;
	max-width: 200px;
	max-height: 200px;
	transition: 0.5s;
}

.music-block img:hover{
	background-size: 100%;
	transition: 0.5s;
	filter: invert(200%) brightness(40%);
}

.music-block img:hover ~ .nav-music-block-img{
	display: block;
}

.music-block img:hover ~  .shadow-for-img{
	box-shadow: -1px 1px 5px 1px #703030;
}

.nav-music-block-img{
	display: none;
	position: absolute;
	top: 25%;
	left: 25%;
	width: 100px;
	height: 100px;
	background-size: 100%;
	pointer-events: none;
}

.music-block .name, .music-block .autor{
	display: block;
}

.music-block .name{
	margin-top: 4px;
}

.music-block .name a{
	font-size: 17px;
	color: #bababa;
}

.music-block .autor a{
	font-size: 14px;
	color: #bababa;
}

.music-block a{
	color: #8a8a8a;
}

.music-block a:hover{
	color: #4484CF;
}

.music-block span{
	color: #8a8a8a;
	font-size: 15px;
	display: block;
	padding-bottom: 3px;
}

.music-block .info{
	margin-top: 2px;
	margin-left: -5px;
	display: flex;
	align-items: center;
}

.music-block .info .info-block{
	margin-left: 10px;
}

.music-block .info .info-block:first-child{
	margin-left: 0;
}

.music-block .info .info-block span{
	font-size: 13px;
	margin-left: 4px;
}

.footer{
	background-color: #222;
	padding: 30px 60px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.footer-content span{
	color: white;
}

.footer-link span{
	font-size: 18px;
	color: white;
}

.footer-link a{
	display: block;
	color: #D9D9D9;
	font-size: 16px;
}

.footer-link a:hover{
	color: white;
}

.footer-link .content-link{
	display: inline-block;
	float: right;
}

.content-link ul{
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 30px;
}

.content-link ul li{
	padding: 3px;
}